BOT_TOKEN = "8654058818:AAEkGzqVqqGnshIFYstsEw9431x7CKEmp9Q"
ADMIN_IDS = 969814328, 861992664
PAYMENT_CARD_NUMBER = "9860350144067617"
PAYMENT_OWNER="Qudrat Iskandarov"
DATABASE_URL=postgresql://neondb_owner:npg_4YbsJvIoP8Di@ep-misty-dawn-a42ds5r9-pooler.us-east-1.aws.neon.tech/neondb
MINI_APP_URL=https://Iskandarov9799.github.io/ona-tili-bot/miniapp/
